<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}
  <link rel="stylesheet" href="{% static 'polls/style.css' %}">
  <title>{{question.question_text}}</title>
</head>

<body>
  {% if messages %}
    <ul class="messages">
    {% for msg in messages %}
      <li class = "{{msg.tags}}">{{msg}}</li>
    {%endfor%}
    </ul>
  {% endif %}

<form action="{% url 'polls:vote' question.id %}" method="post" class="form">
  {% csrf_token %}
  <fieldset>
    <legend><h1 class="header detail-header">{{ question.question_text }}</h1></legend>
    {% if error_message %}
      <p class="error">{{ error_message }}</p>
    {% endif %}

    {% for choice in question.choice_set.all %}
      <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
      <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
    {% endfor %}
  </fieldset>
  <input type="submit" value="Vote" class="button form-button">
</form>

<a href="{% url 'polls:results' question.id %}">
  <button type="submit" class="button">Results</button>
</a>

<a href = {% url 'polls:index' %}>
  <button type="submit" class="button">Back to List of Polls</button>
</a>

</body>

</html>