{% extends 'polls/base_template.html' %}

{% block title %}
  <title>
    Index - KU Polls
  </title>
{% endblock %}

{% block content %}
{% if latest_question_list %}
  {% for question in latest_question_list %}
    <div class="row">

      <div class="long-column">
        <a href="{% url 'polls:detail' question.id %}">
          {{question.question_text}}
        </a>
      </div>

      <div class="column">
        <a href="{% url 'polls:results' question.id %}">
          results
        </a>
      </div>
      
      {% if question.can_vote %}
        <div class="long-column open-poll">
          Status : Open
        </div>
      {% else %}
        <div class="long-column closed-poll">
          Status : Closed
        </div>
      {% endif %}

    </div>
  {% endfor %}
{% else %}
  <p class="error">No polls are available.</p>
{% endif %}

{% endblock %}