:root{
  --text-color: #e5e9f0;
  --text-highlight: white;
  --white-bg: #d8dee9;
  --nord-7: #8fbcbb;
  --nord-8: #88c0d0;
  --nord-12: #ebcb8b;
  --affirmative: #a3be8c;
  --error: #bf616a;
  --dracula-pink: #ff79c6;
  --dracula-purple: #bd93f9;
}
body {
  background-color: white;
  color: var(--text-color);
  background: url("images/background.jpg") left fixed;
  background-repeat: no-repeat;
  background-size : cover;
  background-blend-mode: overlay;
  font-family: sans-serif;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: var(--nord-7);
}

a:hover{
  color:var(--text-highlight);
}

ul {
  list-style-type: none;
}

.header{
  color: var(--nord-12);
  padding: 0 3vw;
}

.polls-header{
  color: var(--nord-8)
}

.detail-header {
  padding:0;
}

.success {
  color: var(--affirmative);
}

.error {
  color:var(--error);
}

.messages{
  margin: 3vh 3vw;
  font-size: 1.25em;
}

.form {
  padding: 1em 1em;
}

.column {
  float: left;
  flex: 1;
  padding: 1vh 5vw 1vh 0;
}

.long-column {
  float: left;
  flex: 2;
  padding: 1vh 3vw 1vh 0;
}

.row {
  display: flex;
  margin: 1vh 3vw;
}

.button {
  display: inline-block;
  padding: 0.5em 1em;
  margin: 0vh 1vw;
  background-color: var(--white-bg);
  border-radius: 25px;
  border-style: none;
  align-self: center;
}

.button:hover {
  background-color: var(--text-highlight);
  transform: scale(1.15);
}

.auth-button{
  background-color: var(--dracula-purple);
}

.auth-button:hover{
  background-color: var(--dracula-pink);
}

.form-button {
  margin: 2vh 0;
  background-color: var(--affirmative);
}

.form-button:hover{
  background-color: #50fa7b;
}

.login-button {
  display: flex;
  left: 50%;
  background-color: var(--affirmative);
  align-items: center;
  margin: 0;
  position: relative;
}

.login-button:hover{
  background-color: #50fa7b;
}

.poll-delete-button {
  margin: 0vh 1vw 2vh;
  background-color: var(--error);
}

.poll-delete-button:hover{
  background-color: coral;
}

.result-button{
  margin: 2vh 3vw;
}

.open-poll{
  color : var(--affirmative)
}

.closed-poll{
  color : var(--error)
}

.auth-container{
  white-space: nowrap;
  padding: 0 3vw;
  align-self: center;
}

.top-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100;
  margin: 0;
}

.centre-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  /* align-self: center; */
}